@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Robot_Condensed", "sans-serif";
  background-color: #f0f0f0;
}
@font-face {
  font-family: "Robot_Condensed";
  src: local("Robot_Condensed-Regular"),
    url("./assets/fonts/RobotoCondensed-VariableFont_wght.ttf")
      format("truetype");
}

@font-face {
  font-family: "eurostile";
  src: local("eurostile"),
    url("./assets/fonts/eurostile.ttf") format("truetype");
}
